<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Alcohol Event Planning app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/eventplanner.css" type="text/css" />
  </head>
  <body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
  </body>
</html>
