<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alcohol Event Planning App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/eventplanner.css" type="text/css" />
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
  <body>

    <div class= "container">
      <div class="row">
        <form>
          <div class="form-group" id="alchlists">
            <div class="col-xs-4" id="liquor">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
                  <div class="checkbox">
                    <label>
                    <input type="checkbox" value="1">
                    Option one is this and that&mdash;be sure to include why it's great
                    </label>
                  </div>
                   <div class="checkbox">
                    <label>
                    <input type="checkbox" value="2">
                    Option one is this and that&mdash;be sure to include why it's great
                    </label>
                  </div>
                   <div class="checkbox">
                    <label>
                    <input type="checkbox" value="3">
                    Option one is this and that&mdash;be sure to include why it's great
                    </label>
                  </div>
            </div>
            <div class="col-xs-4" id="wine">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
               <div class="checkbox">
                  <label>
                  <input type="checkbox" value="4">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
                 <div class="checkbox">
                  <label>
                  <input type="checkbox" value="5">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
                 <div class="checkbox">
                  <label>
                  <input type="checkbox" value="6">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
            </div>
            <div class="col-xs-4" id="beer">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
              <div class="checkbox">
                  <label>
                  <input type="checkbox" value="7">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
                 <div class="checkbox">
                  <label>
                  <input type="checkbox" value="8">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
                 <div class="checkbox">
                  <label>
                  <input type="checkbox" value="9">
                  Option one is this and that&mdash;be sure to include why it's great
                  </label>
                </div>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>