<nav class="navbar navbar-default">
    <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <p href="/">this.event:choice</p>
            </div>
          </div>
    </div>
  </nav>

  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h1 class="text-center"><span id="event-name">Your Selections</span></h1>
          <!-- <br>
          <p class="text-center">Choose From Our Selection Of Alcohols For Your Event</p> -->
        </div>

        <div class="row">

          <div class="col-xs-4">
            {{#if beerBool}}
              {{>alcohols/beer-column-header beerBool=true}}
            {{/if}}
          
            {{#each alcohols}}
              {{#if beerBool}}
                {{>alcohols/beer-block beerBool=true}}
              {{/if}}
            {{/each}}
          </div>

          <div class="col-xs-4">
            {{#if wineBool}}
             {{>alcohols/wine-column-header wineBool=true}}
            {{/if}}

            {{#each alcohols}}
              {{#if wineBool}}
                {{>alcohols/wine-block wineBool=true}}
              {{/if}}
            {{/each}}
          </div>

          <div class="col-xs-4">
            {{#if liquirBool}}
              {{>alcohols/liquor-column-header liquirBool=true}}
            {{/if}}

            {{#each alcohols}}
              {{#if liquirBool}}
                {{>alcohols/liquor-block liquirBool=true}}
              {{/if}}
            {{/each}}
          </div>  
        </div>
        <br>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="copyright">
        <p>&copy; Copyright 2017</p>
      </div>
    </div>
  </footer>