<div class= "container">
  <div class="row">
    <div class="col-xs-12">
    <header><strong>Your Chosen Alcohol Selections For Your Event!</strong></header>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{compiled_list}}
    </div>
  </div>
</div>
