<nav class="navbar navbar-default">
    <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <p href="/">ALCOVENT</p>
            </div>
          </div>
    </div>
  </nav>

  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h1 class="text-center"><span id="4" data-eventid="4">Football </span>Recommendations</h1>
          <br>
          <p class="text-center">Choose From Our Selection Of Alcohols For Your Event</p>
        </div>

        <div class="row">

          <div class="col-xs-4">
            <div class="column-header">
              <img class="alcohol-thumb" src="/assets/img/Beer_Glass.png" class="alc-icon">
              <h3>Beers</h3>
            </div>
          
            {{#each type}}
              {{#if Beer}}
                {{>alcohols/beer-block beerBool=true}}
              {{/if}}
            {{/each}}

          </div>

          <div class="col-xs-4">
            <div class="column-header">
              <img class="alcohol-thumb" src="/assets/img/Wine_Bottle.png" class="alc-icon">
              <h3>Wines</h3>
            </div>

            {{#each type}}
              {{#if Wine}}
                {{>alcohols/wine-block wineBool=true}}
              {{/if}}
            {{/each}}

          </div>

          <div class="col-xs-4">
            <div class="column-header">
              <img class="alcohol-thumb" src="/assets/img/Martini_Glass.png" class="alc-icon">
              <h3>Spirits</h3>
            </div>

            {{#each type}}
              {{#if Spirits}}
                {{>alcohol/liquor-block liquirBool=true}}
              {{/if}}
            {{/each}}

           
        </div>
        <br>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitlist">Create Your Alcohol List</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="copyright">
        <p>&copy; Copyright 2017</p>
      </div>
    </div>
  </footer>