<div class= "container">
      <div class="row">
        <div class="col-xs-12">
        <header><strong>Choose Your Alcohol For Your Event</strong></header>
        </div>
      </div>
      <form>
        <div class="form-group" id="alchlists">
          <div class="row">
            <div class="col-xs-4" id="liquor">
                <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
               {{!--  {{liquor_block}}} --}}
            </div>
            <div class="col-xs-4" id="wine">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
              {{!--  {{wine_block}} --}}
            </div>
            <div class="col-xs-4" id="beer">
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
              {{!--   {{beer_block}} --}}
            </div>
          </div>   
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitlist">Compile Alcohol List</button>
            </div>
          </div>
        </div>
      </form>
    </div>