<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <img src="/assets/img/veggie-burger.jpg">

        <h1>Alcohol Event Plannder</h1>

    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">

        <h4>Burgers yet to eat!</h4>

        <ul>
          {{#each burger}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
            {{/unless}}
          {{/each}}
        </ul>

    </div>
    <div class="col-md-5 col-lg-4">

      <h4>Devoured burgers</h4>

      <ul>
        {{#each burger}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <h3>Add a Burger</h3>
        <form class="create-form">

          <div class="form-group">
            <input type="text" id="bur" name="name" placeholder="Enter a burger name">
          </div>

          <button type="submit" class="btn btn-lg btn-primary">Add Burger</button>
        </form>
        <br>

    </div>
  </div>
</div>