<div class="checkbox">
  <label>
  <input type="checkbox" value="7">
    <div class="panel panel-default">
      <div class="panel-body">
        Beer 1
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="8">
    <div class="panel panel-default">
      <div class="panel-body">
        Beer 2
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="9">
    <div class="panel panel-default">
      <div class="panel-body">
        Beer 3
      </div>
    </div>
  </label>
</div>