<div class="checkbox">
  <label>
  <input type="checkbox" value="1">
    <div class="panel panel-default">
      <div class="panel-body">
        Liquor 1
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="2">
    <div class="panel panel-default">
      <div class="panel-body">
        Liquor 2
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="3">
    <div class="panel panel-default">
      <div class="panel-body">
        Liquor 3
      </div>
    </div>
  </label>
</div>