<div class="alcohol-selection-wrapper" title="Select This" data-alcoholid="{{id}}">
  <div class="alcohol-selection-thumb pull-left">
    <img class="alcohol-thumb" src="{{image}}" alt="alcohol image">
  </div>
  <p>
    <strong>
      <span class="alcohol-name">{{name}}</span>
    </strong>
  </p>
  <p>
    <span class="alcohol-tag">{{tag}}</span>
  </span>
  </p>
</div>