<div class="checkbox">
  <label>
  <input type="checkbox" value="4">
    <div class="panel panel-default">
      <div class="panel-body">
        Wine 1
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="5">
    <div class="panel panel-default">
      <div class="panel-body">
        Wine 2
      </div>
    </div>
  </label>
</div>
 <div class="checkbox">
  <label>
  <input type="checkbox" value="6">
    <div class="panel panel-default">
      <div class="panel-body">
        Wine 3
      </div>
    </div>
  </label>
</div>