body {
  color: #fff;
  background-image: url(../img/e3social.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container div div {
  text-align: center;
}
h1, h2 {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  -webkit-text-stroke: 1px #000;
}
img { 
  width: 260px; height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  margin: 10px;
  background: #e2a53b;
  border-radius: 20px;
}
li h3 {
  margin: 0 0 5px 0;
  padding: 0;
}
.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: red;
}

.form-group {
  margin-bottom: 5px;
}


/*Modal.html code*/

.bs-example{
      margin: 20px;
      text-align: center;
      color:black;
    }
