.btn-block{
  background-color: #042037;
  color: #718EA4;
  font-family: 'Oswald', sans-serif;
  border-color: black;
  border-width: 3px;
}

.panel-body{
    word-break: break-all;
}

.panel{
  background-color: #718EA4;
  border-color: black;
  border-width: 3px;
}

body {
  background-color: #496D89
}

h1{
  margin-top: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #042037;

}